@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Armata');
/*Inician estilos para todo el documento especificos*/
body{
    background-image: url("../img/trianglify.png");
    background-repeat: repeat;
    
}
/*Limpiamos el espacio que generaba a la derecha de la pantalla*/
.clear-scroll-x{overflow-x: hidden !important;}

/*Card general - Perfil*/
.mi-nombre{
    font-family: 'Aldrich', sans-serif;
    font-size: 23px !important;
    line-height: 25px !important;
    color: #A0D7CB;
    letter-spacing: 2px;
}
.mi-carrera{
    font-family: 'Armata', sans-serif;
    font-size: 16px;
    color: #A0D7CB;
    letter-spacing: 2px;
}
.dowload{
background-color: #DEC746;
border-radius: 2em;
width: 70%;

}
.letras-dowload
{
    font-family: 'Armata', sans-serif;
    letter-spacing: 2px;
    font-size: 15px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
    color: #000000;

}
.sobre-mi{
     font-family: 'Aldrich', sans-serif;
    font-size: 30px !important;
    line-height: 33px !important;
    color: #ffffff;
    letter-spacing: 2px;
}
/*Estilos del card de mi perfil*/
.card-wrapper {

    margin: 0;
    min-height: 500px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    position:-webkit-sticky !important;
    position:sticky !important;
    top:0 !important;
}

.card-wrapper .back, .card-wrapper .front {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.card-wrapper .face {
    position: absolute;
    width: 100%;
    height: 100%;
}

.testimonial-card .card-up {
  overflow: hidden;
  height: 120px;
  -webkit-border-top-left-radius: .25rem;
  border-top-left-radius: .25rem;
  -webkit-border-top-right-radius: .25rem;
  border-top-right-radius: .25rem;
}
.card-wrapper .card-up {
    height: 80px;
    overflow: hidden;
}

.card-wrapper .avatar {
    display: block;
    margin-top: -60px;
    overflow: hidden;
    width: 120px;
}


.card-wrapper .avatar img {
    border: 2px solid #fff;
    background: none repeat scroll 0 0 #fff;
    width: 100%;
    background-position: center;
  background-size: cover;
     -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.fb-ic {
  color: #000000!important;
  font-size: 18px !important;
}
.tw-ic {
   color: #000000!important;
  font-size: 18px !important;
}
.gplus-ic {
  color: #000000!important;
  font-size: 18px !important;
}
.li-ic {
   color: #000000!important;
  font-size: 18px !important;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
hr{

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));

}/*Termina estilos de mi card de informacion*/
/*Cuerpo 1 primera hoja de informacion inicia*/
.cuerpo{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    padding: 10px;
    background-color: #313C42;
}
p.info{
     font-family: 'Armata', sans-serif;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 400 !important;
}
/*titulos de informacion personal*/
h3.titulo-info-personal{
    font-family: 'Aldrich', sans-serif;
    font-size: 26px !important;
    line-height: 24px !important;
    color: #757575;
    letter-spacing: 1px;
}
/*subtitulos de la informacion personal*/
.sub-info-personal{
    font-family: 'Aldrich', sans-serif;
    font-size: 15px !important;
    line-height: 22px !important;
    color: #ffffff;
    font-weight: 400 !important;
}
.myinfo{
    font-family: 'Aldrich', sans-serif;
    font-size: 15px !important;
    line-height: 22px !important;
    color: #ffffff;
    font-weight: 400 !important;
    margin-left: 3px;
}

.progress-title{
     font-family: 'Armata', sans-serif;
    font-size: 16px !important;
    line-height: 22px !important;
    color: #fff;
    letter-spacing: 1px;
}
.progress{
    height: 4px;
    background: #e4e3e3;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    box-shadow: none;
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
    background-color: #1FA184;
}
@-webkit-keyframes animate-positive {
    0% { width: 0; }
}
@keyframes animate-positive {
    0% { width: 0; }
}
/*Cuerpo 2 segunda hoja de informacion habilidades*/
ul.timeline {
    list-style-type: none;
    position: relative;

}
ul.timeline:before {
    content: ' ';
    background: #1FA184;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;

}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;

}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;

}
ul.timeline > li:hover:before{
    background-color: rgb(0, 146, 156);
    cursor: pointer;
     -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
/*Estás propiedades ayudan para el leer más ..*/
.more {
    cursor: pointer;
    background-color: #DEC746;
    border-radius: 1em;
  }
  
  .complete1,.complete2,.complete3,.complete4,.complete5{
    display: none;
  }
  /*Texto de los titulos de los los proyectos que he hecho*/
  .Experience{
    font-family: 'Aldrich', sans-serif;
   font-size: 20px !important;
   line-height: 33px !important;
   color: #ffffff;
   letter-spacing: 2px;
}
/*Informacion de mis experiencias de trabajo*/
.experience-info{
    font-family: 'Armata', sans-serif;
   font-size: 13px !important;
   line-height: 20px !important;
   color: #ffffff;
   letter-spacing: 1px;
}
/*Está propiedades de css nos ayudan a crear los circulos de la parte de "Lenguague o idioma" dot es el circulo pintado y dot2 el vacio*/
.dot {
    height: 17px;
    width: 17px;
    background-color: #1FA083;
    border-radius: 50%;
    border: 1px solid #1FA083;
    display: inline-block;
  }
  .dot2 {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 1px solid #1FA083;
    display: inline-block;
  }
  /*Le damos espaciado al nav link del header y ademas un estilo hover*/
  #navlink li{margin-left:100px !important;}
  #navlink li a:hover{ 
      color: #E0A800 !important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    border-bottom: 1px solid orange;
    cursor: pointer;}
  .nav-link{color:#A0D7CB !important; }
  /*Cambio de color a los icons de fa*/
  .fa{color:#1FA184;}

/*Estos estilos son para el nav link de las redes sociales dandole un hover*/
  .list-inline-item:hover{
    background-color: rgb(231, 231, 231);
    border-radius: 1em !important;
    cursor: pointer;
     -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .list-inline-item a .fa:hover{
    color: #E0A800;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }

.navbar-fixed-top.scrolled {
    background-color: #313C42 !important;
    transition: background-color 500ms linear !important;
    position:fixed !important;
    top: 0 !important; 
    width:100% !important; 
    z-index:1000 !important;
  }
.column img {
	display: block;
	width: 100%;
	height: 300px;
}


/*With Simple Caption - estilos de cuando le pasamos el mouse sobre algun card del portafolio*/
#caption {
	position: relative;
}
#caption .text {
		position: absolute;		
    top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;			
}
#caption .text h6 {		
		margin: 0;		
		color: black;
}
#caption:hover .text {
	opacity: 1;
    cursor: pointer;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;	
}
#caption:hover img {
    filter:blur(2px);
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;	
}
#caption .text2 {
    position: absolute;		
top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
opacity: 0;
-webkit-transition: 1s;
-o-transition: 1s;
transition: 1s;			
}
#caption:hover .text2 {
	opacity: 1;
    cursor: pointer;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;	
}

